* {
box-sizing: border-box;
padding: 0px;
margin: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/* Container for flasboxes */
section {
  display: flex;
  
}

nav {
  flex:0.02;
  -ms-flex: -1;
  background: #ccc;
  padding: 20px;
  padding-right: 50px;


}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
display: flex;
flex:grid;
 grid-template-columns: 1fr 1fr 1fr;
 /* -ms-flex: 4;
 background-color: #f1f1f1; */
 grid-template-rows: 0.25fr 1fr 0.25fr;
 padding: 30px;
 column-gap: 20px;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: 120px;
}
.category-product-title{
  grid-column: 1 / span 3;
  color: darkslategray;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;

}
.category-product-image-container {
padding: 10px;
width: 60px;
}
.category-product-image-container img{
  /* width: 50px;
  height: 50px; */
  width: 100%;
  height: 100%;
}

.category-product-info-header{
  display: flex;
  /* margin: 0.5rem;
  padding: 0.3rem; */
  
   
}
.category-product-info-finance{
  padding: 10px;
  width: 60%;
}
.category-product-info-finance-price{
  color: darkslategray;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}


.category-product-info-dimenstions,
.category-product-info-capacity{
  display: flex;
  flex-direction: column;
}

.category-product-info-dimenstions h3,
.category-product-info-capacity h3,
.category-product-info-features h3{
  color: darkslategray;
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}
.category-product-info-features li{
padding-top: 5px;
}
.category-product-info-stock{
  padding-left: 10px;
  margin-top: 20px;
  padding-top: 10px;
  background-color: lightgray;
  height: 45%;
  width: 32%;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  
}
  
.category-product-info-stock label{
  padding-bottom: 5px;
}
.category-product-action{
  display: flex;
  flex-direction: column;
}
.category-product-action button{
  width: 160px;
  height: 30px;
  border-radius: 10px;
  margin-left: 90px;
  margin-top: -25%;
  /* margin-bottom: -20px; */
  background-color: lightgray;
  border: solid 1pz slategray;
  font-weight: bold;
  /* position: relative; */
}
.category-product-action button:last-child{
  background-color: darkgray;
  
}
@media (max-width: 600px){
  section{
    flex-direction:column ;
  }
}

.category-product-detail-action{
  flex-direction: column;
}
.category-product-detail-action button{
  width: 160px;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  /* margin-bottom: -20px; */
  background-color: lightgray;
  border: solid 1pz slategray;
  font-weight: bold;
  /* position: relative; */
}

/* container */
.three-columns-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* columns */
.three-columns-grid > * {
  padding:1rem;
}
